/* src/styles/HomeLayout.css */

.home-layout {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.home-content {
  flex: 1;
  margin: 0;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

.right-sidebar {
  width: 300px;
  box-sizing: border-box;
}